.circle {
  width: 250px;
  height: 250px;

  background: linear-gradient(to bottom, #f5576c, #f093fb);
  box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
  border-radius: 74% 26% 49% 51% / 70% 26% 74% 30%;

  animation: circleRadius 12s alternate infinite;

  position: absolute;
  right: 5rem;
  bottom: 8rem;
  z-index: 1;

  @media (max-width: $breakpoint_xl) {
    right: 0;
  }

  @media (max-width: $breakpoint_sm) {
    display: none;
  }
}



@keyframes circleRadius {
  0% {
    border-radius: 74% 26% 49% 51% / 70% 26% 74% 30%;
    transform: translate3d(0, 0, 0);
  }
  50% {
    border-radius: 22% 78% 49% 51% / 89% 47% 53% 11%;
    transform: translate3d(-100px, -80px, 0);
  }
  100% {
    border-radius: 13% 87% 17% 83% / 37% 75% 25% 63%;
    transform: translate3d(0px, -100px, 0);
  }
}